{% extends "personal/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block head_title %}
    About Me - EE4-FYP
{% endblock %}

{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#about").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            {% if registered and peers_exist %}
                background-image: url('/media/img/jumbotron_on2.jpg');
            {% elif registered %}
                background-image: url('/media/img/jumbotron_on.jpg');
            {% else %}
                background-image: url('/media/img/jumbotron_off2.jpg');
            {% endif %}
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>About Sleepify</h1>
            <p>Who we are, what we do.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p>Learn more on GitHub.</p>
    <p><a href="https://github.com/jeremych1000/ee4-FYP/">Click here.</a></p>
{% endblock %}