{% extends "personal/base.html" %}
{% load bootstrap3 %}

{% block head_title %}
    Peer List - EE4-FYP
{% endblock %}

{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#peers").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            {% if registered %}
                background-image: url('/media/img/jumbotron_on2.jpg');
            {% else %}
                background-image: url('/media/img/jumbotron_off2.jpg');
            {% endif %}
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>List of peers</h1>
            <p>So many friends!</p>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% bootstrap_messages %}

    <div class="row">


        <div id="map" style="width: 1500px; height: 800px;"></div>

        <script type="text/javascript">
        //      var locations = [
        //          ['Bondi Beach', -33.890542, 151.274856, 4],
        //          ['Coogee Beach', -33.923036, 151.259052, 5],
        //          ['Cronulla Beach', -34.028249, 151.157507, 3],
        //          ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
        //          ['Maroubra Beach', -33.950198, 151.259302, 1]
        //      ];

            var locations = {{ locations }};

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: new google.maps.LatLng(51.500038, -0.174675),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
              });

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(locations[i][0]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
          </script>
    </div>
{% endblock %}